body{
    background-image:url(c:/Users/HP/Downloads/building-7077718_1280.jpg) ;
}
.navbar{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 30px;
}
.words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar a:hover{
    color: #00afb0;
    transition: 3s;
}

.btn{
    width: 150px;
    height: 40px;
        background-color:#ededed;
    border-radius: 10px;
}
.btn a{
    letter-spacing: 2px;
    color: white;
    font-size: normal;
    color: black;
    text-decoration: none;
    text-align: center;
}
.logo{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    color: #ededed;
}
.logo a{
    width: 40px;
    height: 40px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 50%;
    border: 2px solid;
    font-size: 20px;
    text-decoration: none;
        color: #ededed;
        
}

.maj{
    font-style: Uppercase none;
    color: white;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 50px;}
    .rien{
        font-size: medium;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        letter-spacing: 2px;
    }
    .navbar a{
        font-size: 18px;
        color: black;
        text-decoration: none;
        font-weight: 30px;
    }
    footer{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        gap: 10px;
    }
